<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<style>
	.col1 { width:200px; border:1px solid black; padding: 5px;}
	.col2 { width:350px; border:1px solid black; padding: 5px;}
	.buttonvisible { height: 50px; width: 150px; visibility: visible; }
	.buttoninvisible{ visibility: hidden;}
	.linkvisible{font-size:13pt;}
	.linkinvisible{visibility:hidden;}
	</style>
</head>

<body style="background-color: rgb(250,255,250);">
<div style = "width:650px;text-align:justify; text-justify: inter-word;">
<table cellspacing = "0" style= "width:550px;border: 1px solid black; " >
	
	<tr>
		<td class="col1">Dealer</td>
		<td class="col2">{{dealer}}</td>
	</tr>
	
	<tr>
		<td class="col1">Dealer Contact</td>
		<td class="col2">{{contact}}</td>
	</tr>	
	
	<tr>
		<td class="col1">Customer Name</td>
		<td class="col2">{{customername}}</td>
	</tr>

	<tr>
		<td class="col1">Policy date</td>
		<td class="col2">{{policydate}}</td>
	</tr>
	
	<tr>
		<td class="col1">Policy</td>
		<td class="col2">STANDARD</td>
	</tr>
    <tr>
		<td class="col1">Duration</td>
		<td class="col2">15 MONTHS</td>
	</tr>
	<tr>
		<td class="col1">Claim amount</td>
		<td class="col2">500</td>
	</tr>
	<tr>
		<td class="col1">Contact telephone</td>
		<td class="col2">  07868786856</td>
	</tr>
	<tr>
		<td class="col1">Email</td>
		<td class="col2">SHAHID_DARBAR@YAHOO.COM  SHAHID_DARBAR@YAHOO.COM</td>
	</tr>
	<tr>
		<td class="col1">Registration & Policynumber</td>
		<td class="col2">EO53YWN EO53YWN1</td>
	</tr>

	<tr>
		<td class="col1">Mileage at Sale</td>
		<td class="col2">0</td>
	</tr>

	<tr>
		<td class="col1">Current Mileage</td>
		<td class="col2">194000</td>
	</tr>

	<tr>
		<td class="col1">Dates of Last 2 Services</td>
		<td class="col2">3, 4, 5, 6</td>
	</tr>
	<tr>
		<td class="col1">Fault Description</td>
		<td class="col2"> crafty</td>
	</tr>
	<tr>
		<td class="col1">Fault Diagnosed from VAT Registered Garage?</td>
		<td class="col2">True</td>
	</tr>
	<tr>
		<td class="col1">Have They Been Adviced to Have Fault Diagnosed?</td>
		<td class="col2">True</td>
	</tr>
	<tr>
		<td class="col1">Have You Confirmed With the Garage This Is a Warranty Claim, We Often Supply Our Own Parts and They Are Willing to Work With Us?</td>
		<td class="col2">True</td>
	</tr>
	<tr>
		<td class="col1">Has Customer Been Advised to Send Diagnostic and Quote to auwarranties@outlook.com?</td>
		<td class="col2">True</td>
	</tr>
	<tr>
		<td class="col1">Does Customer Have a Policy Booklet?</td>
		<td class="col2">False</td>
	</tr>
	<tr>
		<td class="col1">Repairing Garage Details.</td>
		<td class="col2"></td>
	</tr> 
	<tr>
		<td class="col1">Additional Comments.</td>
		<td class="col2"></td>
	</tr>

</table> 
<!--
<div style="width:550px; text-align:right;">
	<button class=buttonvisible > <a style="font-size:13pt;" href="http://127.0.0.1:8081/?claimresponse=4477">Respond</a></button>
</div>-->
</div>
</body>
</html>